<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mercado Liebre</title>
    <link rel="icon" type="image/png" href="/img/lieb2.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo"><a href="/home"><img src="/img/logo-mercado-liebre.svg"></a></div>
            <div class="input-search">
                <form action="">
                    <div><i class="fas fa-search"></i></div>
                    <input type="text" placeholder="Buscar productos, marcas" aria-label="search" />
                    <button type="reset"><i class="fas fa-times"></i></button>
                </form>
            </div>
            <div class="slogan-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de Crédito</div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="navBar-main">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/views/register">Creá tu cuenta <i class="fas fa-user-alt"></i></a></li>
                <li><a href="/views/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="formulario" action="/" method="post">
            <fieldset>
                <legend>Bienvenido!</legend>
            <div class="campo-form">
                <label>Usuario:</label>
                <input type="text" />
            </div>
            <div class="campo-form">
                <label>Contraseña:</label>
                <input type="password" />
            </div>
            <div class="botones-form">
                <button class="boton" type="submit"><a href="/views/home"></a>Enviar</button>
            </div>
            <br>
            <p class="texto-form">¿Perdiste o no recuerdas tu contraseña?</p>
        </fieldset>
        </form>
    </main>
    <footer>
        <div class="foot">
            <section>
                <div class="iconofoo"> <i class="fas fa-credit-card"></i></div>
                <br>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div class="iconofoo"> <i class="fas fa-truck"></i> </div>
                <br>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div class="iconofoo"> <i class="fas fa-shield-alt"></i> </div>
                <br>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <p>Copyright © 1999-2022 Mercado Liebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>